.icon-button{
  width: 35px;
  height: 35px;
  background-color: $Violet-one;
  color: $White-one;
  border-radius: 50px;
  margin-left: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}